.main {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.tile {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
}

.tile-alive {
  background-color: #73AD21;
}

.tile-dead {
  background-color: #C62727;
}
